.super-mario {
    width: 200px;
    position: absolute;
    top: 60px;
 }
 
 .goomba {
    width: 120px;
    position: absolute;
    top: 320px;
    left: 120px;
 }
 
 .baloon {
     width: 280px;
     position: absolute;
     left: 200px;
 }
 
 .speach {
     font-size: 25px;
     position: absolute;
     z-index: 1;
     top: 110px;
     left: 210px;
     
 }
 
 .bowser {
     width: 290px;
     position: absolute;
     top: 240px;
     left: 400px;
     
 }