
body {
    font-family:monospace;
}


h1, p {
    text-align: center;
}


ul {
    text-decoration: none;
    
    
    

ul a {
    text-decoration: none;
    

}

ul :hover {
    background-color: #2e8b57;
    color: white;
    
}

ul :active {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.blog-container {
    display: flex;
    
}

.blog-space {
    margin: auto;

}